<div class="card">
    <h1>Brandon Steffan</h1>
    <h2>Junior Full Stack Developer</h2>
    <p>Welcome to my Portfolio Website!</p>
    <p>I am a motivated junior full-stack developer with strong logical reasoning and problem-solving skills , as well as ease working with computer data and numbers.</p>
    <p>I have a "digital mindset" that allows me to learn new computer skills easily. I am ready to participate in trainings to deepen and broaden my knowledge in a variety of subjects to pursue a carrer in the IT industry.</p>
    <div class="home-links">
        <a href="https://www.linkedin.com/in/brandon-steffan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/BrandonSteffan" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</div>
