<div class="card">
    <h1>Brandon Steffan</h1>
    <hr>
    <h2>Full Stack Developer</h2>
    <div class="home-links">
        <a href="https://www.linkedin.com/in/brandon-steffan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/BrandonSteffan" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
</div>

<div class="cta">
    <a routerLink="/projects">Explore My Projects</a>
</div>

<div class="mouse_scroll">
    <div>
        <span class="m_scroll_arrows one"></span>
        <span class="m_scroll_arrows two"></span>
        <span class="m_scroll_arrows three"></span>
    </div>
</div>

<div class="skills">
    <div class="skill">
        <i class="fa-brands fa-html5"></i>
        <p>HTML</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-css3-alt"></i>
        <p>CSS</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-square-js"></i>
        <p>JavaScript</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-angular"></i>
        <p>Angular</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-github"></i>
        <p>Git</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-figma"></i>
        <p>Figma</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-php"></i>
        <p>PHP</p>
    </div>
    <div class="skill">
        <i class="fa-brands fa-laravel"></i>
        <p>Laravel</p>
    </div>
</div>

<div class="mouse_scroll">
    <div>
        <span class="m_scroll_arrows one"></span>
        <span class="m_scroll_arrows two"></span>
        <span class="m_scroll_arrows three"></span>
    </div>
</div>

<div class="about">
    <h2>About</h2>
    <p class="home-text">I am a motivated full-stack developer with strong logical reasoning and problem-solving skills , as well as ease working with computer data and numbers.</p>
    <p class="home-text">I have a "digital mindset" that allows me to learn new computer skills easily. I am ready to participate in trainings to deepen and broaden my knowledge in a variety of subjects to pursue a carrer in the IT industry.</p>

</div>
