:host{
    display: block;
    padding-top: 12vh;
    padding-bottom: 12vh;
    width: 80%;
    margin: auto;
    min-height: 90vh;
}

.card{
    padding-top: 200px;
    h1{
        font-size: 50px;
        text-align: center;
        z-index: 1;
       
        
    }
    hr{
        margin: auto;
        margin-top: -11px;
        width: 80%;
        
        height: 3px;
        border: none;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #fefefe));
    }
    h2{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 30px;
    }
    p{
        text-align: center;
        margin-bottom: 30px;
    }
    .home-text{
        width: 500px;
        margin: auto;
    }
    .home-links{
        width: 100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a{
            transition-duration: .2s;
            i{
                font-size: 30px;
            }
            &:hover{
                transform: scale(1.1);
                i{
                    color: var(--orange);
                }
            }
        }
    }
}

.cta{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    animation: animation1 4s linear infinite;
    transition-duration: .3s;
    a{
        
        border: 1px solid var(--orange);
        border-radius: 10px;
        color: var(--orange);
        padding: .75em 1.5em;
    }
    &:hover{
        animation: pause;
        transform: scale(1.1);
    } 
    
}

@keyframes animation1{
    0%{
        
        opacity: 1;
    }
    25%{
        
        opacity: .5;
    }
    50%{
        
        opacity: .1;
    }
    75%{
        
        opacity: .5;
    }
    100%{
        
        opacity: 1;
    }
    
}


.skills{
    width: 80%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: .3s;
        animation: animation1 6s linear infinite;
        i{
            font-size: 50px;
        }
        p{
            opacity: 0;
        }
        &:hover{
            animation: bounce 1s ease-in-out infinite;
            
            i{
                color: var(--orange);
            }
            p{
                opacity: 1;
            }
        }
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.about{
    width: 60%;
    margin: auto;
}

@media screen and (max-width:500px){
    .skills{
        flex-wrap: wrap;
        height: 300px;
        .skill{
            width: 60px;
        }
    }
    .card{
        padding-top: 100px;
    }
    .about{
        width: 80%;
    }
    .mouse_scroll{
        margin-top: 100px !important;
    }
}
// added
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 200px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
   
  border-right: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.one
{
  margin-top: 1px;
}

.one, .two, .three
{
    animation: mouse-scroll 1s infinite;
  
}

.one
{
  animation-direction: alternate;
  animation-delay: alternate;
}

.two
{
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.three
{
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
