<div class="content" *ngIf="project">
    <div class="title">
        <button (click)="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
        <h2>{{project.name}}</h2>
    </div>
    
    <div class="description">
        <p>{{project.descriptionLong}}</p>
        <div class="techs">
            <i class="fa-brands fa-html5" *ngIf="project.html"></i>
            <i class="fa-brands fa-css3-alt" *ngIf="project.css"></i>
            <i class="fa-brands fa-square-js" *ngIf="project.js"></i>
            <i class="fa-brands fa-angular" *ngIf="project.angular"></i>
        </div>
        <div class="links">
            <a href={{project.gitUrl}} target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href={{project.netUrl}} target="_blank" *ngIf="project.netUrl != ''"><i class="fa-solid fa-globe"></i></a>
        </div>
    </div>
    <div class="images">
        <img src={{project.img}} alt="project screenshot">
        <img src={{project.imgD1}} alt="project screenshot">
        <img src={{project.imgD2}} alt="project screenshot" *ngIf="project.imgD2 != ''">
    </div>
</div>
