/* You can add global styles to this file, and also import other style files */

  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;600&family=Roboto:wght@400;500;700&display=swap');

:root {
--heading-font: "Playfair Display SC", sans-serif;
--paragraph-font:  'Poppins', sans-serif;
--orange : #ffbf00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    color: #fefefe;
    font-family: var(--paragraph-font);
}

a{
    text-decoration: none;
    color: #fefefe;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
    font-weight: 300;
}

@keyframes animation1{
    0%{
        
        opacity: 1;
    }
    25%{
        
        opacity: .5;
    }
    50%{
        
        opacity: .1;
    }
    75%{
        
        opacity: .5;
    }
    100%{
        
        opacity: 1;
    }
    
}
